/* Clean Slate */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #ccc;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 95%;
    max-width: 400px;
    height: max-content;
    
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

h3 {
    padding: 1em 0;

    background-color: #562f5e;

    text-align: center;
    color: #fff;
}

/* Form */
#form {
    display: flex;
}

#form-input {
    flex: 3;
    padding: .5em;
    float: left;

    border: none;
}

#form-submit {
    flex: 1;
    padding: .5em 1.5em;

    border: none;
    background-color: #ee780a;

    color: #fff;
}

/* List */
.list {
    
    background-color: #562f5e;
}

.task:nth-child(odd) .task__text {
    background-color: #ddd;
}

.task:nth-child(even) .task__text {
    background-color: #e5e5e5;
}

.task:nth-child(odd) .task__remove {
    background-color: #b31227;
}

.task:nth-child(even) .task__remove {
    background-color: #e41833;
}

.task {
    display: flex;

    animation: newTask 100ms ease-out 1;
}

@keyframes newTask {
    from {height: 0em;}
    to {height: 2em;}
}

.removed {
    animation: removeTask 100ms ease-out 1;
}

@keyframes removeTask {
    from {height: 2em;}
    to {height: 0em;}
}

.task__text {
    float: left;
    flex: 1;
    height: 2.5em;
    padding-left: 1em;
    line-height: 2.5em;

    cursor: pointer;

    transition: filter 200ms;
}

.task__text:hover {
    filter: brightness(.9);
}

.stroked {
    text-decoration: line-through;
}

.task__remove {
    height: 2.5em;
    width: 2em;
    float: right;

    cursor: pointer;

    text-align: center;
    line-height: 2.5em;
    color: #fff;
    transition: filter 200ms;
}

.task__remove:hover {
    filter: brightness(.7);
}

.task__remove::selection {
    color: none;
    background: none;
}